body{
	margin:0;
	font-family:Arial, sans-serif;
	font-size:14px;
	background-color:#333;
	color:#fff;
	padding-top:30px;
}
h1{
	font-size:40px;
	line-height:50px;
	float:left;
	margin:0;
}
h1 span{
	color:#999;
	font-weight:normal;
}
h1,
h2{
	font-family:"Open Sans Condensed", sans-serif;
}
ul{
	margin:0;
	padding:0 0 20px 30px;
}
hr{
	height: 0px;
	border: dotted #ccc;
	border-width: 1px 0 0 0;
	margin: 20px 0;
	background: transparent;
	clear: both;
}
.btn{
	background:#FD6403;
	border-radius:5px;
	border: 0;
	color:#fff;
	display:inline-block;
	font-family:"open sans condensed", sans-serif;
	line-height:30px;
	height: 30px;
	padding:0 10px;
	text-decoration:none;
	transition:.25s;
}
.btn:hover{
	background:#fff;
	color:#FD6403;
	cursor: pointer;
}
.btn.download{
	font-size:20px;
	font-weight:bold;
	line-height:50px;
	height: 50px;
	padding:0 20px;
}
header{
	margin:0 auto 40px;
}
header .logo{
	display: block;
	float: left;
}
header .btn.download{
	margin-top: 10px;
}
header,
.container{
	max-width: 1200px;
	overflow:hidden;
	padding: 0 20px;
}
.container{
	margin:auto;
}
.mySlideshow .animated{
	position:absolute;
}
.first{
	background:url("../images/first.jpg") center no-repeat;
}
.first a,
.first img{
	display:block;
}
.first a{
	top:80px;
	left:39%;
	margin-left:-165px;
}
.first div{
	font-family:'Open Sans Condensed', sans-serif;
	font-size:50px;
	bottom:80px;
	left:39%;
	width:320px;
	text-align:center;
	margin-left:-160px;
}
.second{
	background:url("../images/second.jpg") center no-repeat;
}
.second img{
	top: 160px;
	right: 19%;
}
.third{
	background:url("../images/third.jpg") center no-repeat;
}
.third img{
	top:100px;
	left: 23%;
}
.fourth{
	background:url("../images/fourth.jpg") center no-repeat;
}
.fourth img{
	top:320px;
	right:8%;
}
.fifth{
	background:url("../images/fifth.jpg") center no-repeat;
}
.fifth img{
	top:120px;
	left:21%;
}
table{
	background: #272727;
	border-collapse:collapse;
	width: 100%;
}
table tbody tr:nth-child(odd){
	background-color: #222;
}
table td,
table th{
	padding:10px;
	text-align:left;
}
table th,
.link{
	color:#FD6403;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.icon{
	vertical-align: middle;
	margin-right: 5px;
}